<header class="row">
  <div class="medium-12 columns">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <p>I'm a web developer living in Minneapolis, MN, with widespread agency and nonprofit experience. My enthusiasm for digital media reaches far and wide, including video production, web analytics, search engine optimization, sound, streaming media, and web and interface development. I am a 2004 graduate of MCAD, holding a BFA in Interactive Media.</p>
  </div>
</header>